/*reseteo de valores*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedorHeader{
    display: inline-block;
    width:100%;
    height: 100vh;
}

.contenedorHeaderSuperior{
    background-color: rgb(50, 50, 50);
    display: flex;
    width: 100%;
    height: 15%;



}
.logo img{
    width: 150px;
    display: inline-block;
}

.logo{
    display: inline-block;
    width: 30%;
    height: 100%;
    color:white;
    text-align: center;
    font-size: 1.5em;

}

.navContenedor{
    display: inline-block;
    text-align: right;
    width: 70%;
    height: 100%;
       
}

.navMenu{
    display: flex;
    flex-direction: column;
    align-items:right;
    padding-right: 5rem;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.navMenu li{
    display: inline-block;
    list-style:none;
    
    margin: 0.5rem;

}
.navMenu a{
    text-decoration: none;
    color: white;
}


.contenedorTextoHeader{
    background-image: url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    height: 85%;
    color:white;
    padding: 5rem;
}

.losOradores{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
   
}

.tarjetas{
    display:inline-flex;
    justify-content:space-between;
    width: 58rem;
    align-content: center;
}

.contenedorConoceMas{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 18rem;
}

.contenedorConoceMas .ConoceMasFoto{
    background-image: url("../assets/img/honolulu.jpg");
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.contenedorConoceMas .ConoceMas{
    background-color: rgb(53, 58, 64);
    display: inline-block;
    color: white;
    padding: 1rem;
    height: 100%;
    width: 50%;
}
footer{
    margin-top: 2rem;
    background-color: rgb(28, 56, 70);
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100px;
    width: 100vw;
}

footer ul{
    width: 80vw;
    display: inline-flex;
    align-items:center;
    justify-content:space-between;

}

footer li{
    display: inline-block;
    list-style:none;
    align-content: center;
    text-align: center;
    color: white;
    width: 120px;
}